$bg-color: #211636;
$text-color: #c2fbd7;
$dynamic-color-dark: #734FBC;
$dynamic-color-light: #2cbb63c2;
$links-color: #238172;

.popupOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(5, 5, 5, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;

  .popupBody {
    background-color: $bg-color;
    border: 1px solid $dynamic-color-dark;
    position: relative;
    bottom: 25%;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    > * {
      width: 100%;
    }



    .inputFieldEmptyPrompt {
        display: block;
        font-size: smaller;
        color:red;
    }

    .popupInputText {
      display: block;
      color: #1a1f1f;
      border: none;
      box-sizing: border-box;
      height: 36px;
      margin: 16px 0;
      padding-left: 8px;
      border-radius: 5px;
    }

    .closeButton {
      background: none;
      border: none;
      color: $text-color;
      width: fit-content;
      align-self: flex-end;
      font-size: larger;
      margin: 0;
      padding: 0;
    }
  }
}
