.gameListItem {
    margin: 16px;
    font-size: large;
    border: 1px solid #238172;
    border-radius: 16px;
    padding: 12px;
    
    .gameListItemContent {
        display: flex;
        justify-content: space-between;
    }
    
    &:hover {
        .gameListItemIcons {
            display: flex;
        }
    }

    .gameListItemIcons {
        display: flex;
        padding-right: 4px;
        font-size: large;

        .anticon {
            margin-left: 8px;
            align-content: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                > svg > path {
                    color:#238172;
                    transform: scale(1.05)
                }
            }
        }
    }
}
