$bg-color: #EDF6F9;
$text-color: #734FBC;
$dynamic-color-dark: #706c61;
$dynamic-color-light: #717568;
$links-color: #EDF6F9;


body {
	font-size: large;
	font-weight: 300;
	margin: 0px;
	color: $text-color;
    
}

/* Typography */
h1#title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 3.2em;
	color: $text-color;
	text-shadow: 0 0 10px #706c61;
	margin: 0 auto;
	padding-top: 180px;
	max-width: 300px;
	text-align: center;
	position: relative;
	top: 0px;
}

h1#title span span {
	font-weight: 400;
}

h2 {
	text-transform: uppercase;
	color: $bg-color;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
    margin-bottom: 24px;
}

a {
	text-decoration: none;
	color: $text-color;
}

a:hover {
	color: $text-color;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}


/* Layout */
.container {
	margin: 0;
    display: flexbox;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;

}

.inputfield {
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
    justify-content:space-between;
}

.register-box {
	background-color: $bg-color;
	max-width: 400px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px $dynamic-color-light;
	text-align: center;
}

.register-box .box-header {
	background-color: $text-color;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.register-box label {
    align-self:flex-start;
	font-weight: 700;
	font-size: .8em;
	color: $text-color;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.register-box input {
    align-self:flex-end;
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid $dynamic-color-dark;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.register-box input:focus {
	outline: none;
	border-color: $dynamic-color-dark;
	transition: 0.5s;
	color: $dynamic-color-dark;
}

.selected {
	color: $text-color!important;
	transition: 0.5s;
}

