$bg-color: #1a1f1f;
$text-color: #c2fbd7;
$dynamic-color-dark: #2cbb6366;
$dynamic-color-light: #2cbb63c2;
$links-color: #238172;


.navbar-container {
  bottom: 70px;
  background: $dynamic-color-dark;
}

.navbar {
  padding: 0px;
  display: flex;
  align-items:center;
  justify-content:space-around;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 0px solid $text-color;
}

.navbar h1 {
  color: $text-color;
}

.navbar h1:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
      rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
      rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
      rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1.5deg);
    transition: 150ms ease-in-out;
}

.navbar .links {
  margin-left: auto;
}

.navbar .links:hover {
  color: $links-color;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.navbar h1::after {
  position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: $text-color;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: $text-color;
}